{% extends 'base.html' %}
{% block title %}Поиск маршрута{% endblock %}

{% block content %}
<h1 class="mb-3">Поиск маршрута</h1>

<div class="row mb-3">
  <div class="col-md-8">
    {% if routes %}
      <h2 class="h4 mb-4">{{ cities.from_city }} - {{ cities.to_city }}</h2>
      {% for route in routes %}
        <table class="table table-hover mb-4">
          <tr>
            <th>Название</th>
            <th>Город отправления</th>
            <th>Город прибытия</th>
            <th>Время в пути/ч</th>
          </tr>
            {% for train in route.trains %}
              <tr>
                <td>{{ train.name }}</td>
                <td>{{ train.from_city.name }}</td>
                <td>{{ train.to_city.name }}</td>
                <td>{{ route.total_time }}</td>
              </tr>
            {% endfor %}
        </table>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% url 'find_routes' as action_url %}
{% include 'form.html' with button='Найти' action=action_url %}
{% endblock %}
