{% extends 'base.html' %}
{% block title %}{{ train.name }} - поезда{% endblock %}

{% block content %}
<h1 class="mb-3">{{ train.name }}</h1>
<div class="col-md-8">
  <table class="table table-hover">
      <tr>
        <th>Название</th>
        <th>Город отправления</th>
        <th>Город прибытия</th>
        <th>Время в пути/ч</th>
      </tr>
      <tr>
        <td>{{ train.name }}</td>
        <td>{{ train.from_city }}</td>
        <td>{{ train.to_city }}</td>
        <td>{{ train.travel_time }}</td>
      </tr>
  </table>
  <p>В своём стремлении улучшить пользовательский опыт мы упускаем, что явные признаки победы институционализации
  рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
  А ещё представители современных социальных резервов, которые представляют собой яркий пример
  континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и
  морали. Безусловно, повышение уровня гражданского сознания позволяет оценить значение экономической
  целесообразности принимаемых решений.</p>
</div>
<div class="mt-3">
  <a class="btn btn-light" href="{% url 'trains:list' %}">Назад к списку</a>
</div>
{% endblock %}
