{% extends 'base.html' %}
{% block title %}{{ city.name }} - Города{% endblock %}

{% block content %}
<h1 class="mb-3">{{ city.name }}</h1>
<p>В своём стремлении улучшить пользовательский опыт мы упускаем, что явные признаки победы институционализации
  рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
  А ещё представители современных социальных резервов, которые представляют собой яркий пример
  континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и
  морали. Безусловно, повышение уровня гражданского сознания позволяет оценить значение экономической
  целесообразности принимаемых решений.</p>
<div class="mt-3">
  <a class="btn btn-light" href="{% url 'cities:list' %}">Назад к списку</a>
</div>
{% endblock %}
