{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
<h1 class="mb-3">Приложение поиска маршрута по заданным параметрам</h1>

<h2>Задание:</h2>
<p>Поиск маршрута перемещения из одной точки в другую. Задача делится на 3 части - населенные пункты, поезда, маршруты.</p>

<h3>Населенные пункты</h3>
<p>Реализовать добавление, редактирование, удаление населенного пункта, а также постраничный просмотр всех доступных населенных пунктов.
  У населенного пункта есть лишь название.</p>

<h3>Поезда</h3>
<p>Реализовать добавление, редактирование, удаление поезда, а также постраничный просмотр всех доступных поездов.
  У поезда есть уникальный код (название), начало маршрута, конец маршрута и время в пути в условных единицах.
  Из одной точки в другую может быть несколько поездов, но они должны отличаться по времени в пути.</p>

<h3>Маршруты</h3>
<p>Пользователь выбирает начальный и конечный пункт маршрута, а также указывает максимальное время в пути.
  Также пользователь может добавить сколь угодно промежуточных городов, через которые должен пролегать маршрут.
  Ему загружаются подходящие под условия маршруты.
  Возле каждого маршрута должна быть кнопка, позволяющая сохранить данный маршрут, задав ему имя.
  При поиске маршрутов, необходимо обращать внимание на направление движения поезда.</p>

<h3>Вывод результатов</h3>
<p>Вывод маршрутов сортируется по наименьшему времени в пути.
  Т.е. первым отображается маршрут, с наименьшим временем в пути.
  Описание маршрута должно содержать информацию о том, откуда и куда ведет этот маршрут, время в пути,
  а также содержать список всех поездов, которые есть в этом маршруте с указанием номера поезда, откуда\куда и времени в пути.
  В случае, если маршрут не найден, вывести сообщение - "Маршрута удовлетворяющего условиям поиска не существует ".
  Если же, заданное время в пути меньше, чем минимальное время маршрута, тогда сообщение "Время в дороге больше выбранного Вами.
  Измените время."</p>

<h3>Сохраненные маршруты</h3>
<p>Должна быть отдельная страница с просмотром маршрутов. Маршрут можно только сохранить, посмотреть и удалить.
  Редактировать сохраненный маршрут нельзя.</p>

<h3>Тесты</h3>
<p>Должны покрывать 40% кода.

<h3>Доступ к сайту</h3>
<p>Доступ к добавлению\редактированию Поездов\Городов, а также удалению любых записей, должен быть только у зарегистрированных пользователей.</p>
{% endblock %}
